@media (max-width: 650px) {
    .pages li,
    .pages a {
        display: block;
    }
    .pages li a {
        padding: 15px;
    }
    .pages .active a {
        background: #eee;
    }

    .search {
        position: static;
        margin: 20px 0;
    }
    .search input {
        width: 100%;
        /* gjør slik at bredden inkluderer border, padding, margin, etc */
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}
